@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #503E9D;
  --background: #F5F5F5;
  --text-color-primary: #182135;
  --text-color-secondary: #3F3F3F;
}
